@import url('http://fonts.googleapis.com/css?family=Lato:400,700');


/* .cards{
   background-color: #CCF2F4;
    display: flex;
    column-gap: 1em;
    margin: 1em;
    width: 90vw;
    height: 12.5em;
    border-radius: 0px 10px 10px 0px;
    padding: .5em;
} */

body {
    justify-content: center;
    background-color: #F4F9F9;
}

.event-type-title {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 2em;
}

.event-type-style {
    text-align: center;
    background-color: #F4F9F9;

}

.event-type-field {
    justify-content: center;
    padding-bottom: 1.5em;
}

.event-type-field input {
    height: 2em;
    width: 100%;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid #000000;
    font-size: 16px;
    font-style: italic;
    transition: all 0.3s ease;
    background-color: #CCF2F4;
    color: #424242;

}

.event-type-button {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    width: 8em;
    height: 1.75em;
    color: #424242;
    background: #A4EBF3;
    border-radius: 10px;
    border: 0.25px solid #A4EBF3;
}


.event-type-subtext {
    color: #424242;
    font-size: 1.5em;

}

.event-type-card-sos{
    margin-bottom: 4em;
}