@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

.addButtons {
    position: fixed;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.add-field {

    background-color: #CCF2F4;
    column-gap: 1em;
    margin: 1em;
    width: 35vw;
    height: 7em;
    border-radius: .5em;
    padding: .5em;
    padding-bottom: 1em;

}

.add-field-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-field a {
    text-decoration: none;
}

.add-field-line {
    width: 100%;
    height: 0.25em;
    margin-left: 1em;
    margin-right: 1em;
    border-top: 1px solid #AAAAAA;
}

a {
    text-decoration: none;
}


.add-field-title {
    color: #424242;
    font-style: italic;
    margin: .5em 0;

    text-decoration: none;
}

.add-field-content p {

    margin: 0.5em 0;
    font-size: small;
    color: #424242;
    font-style: italic;
    text-decoration: none;

}