@import url('http://fonts.googleapis.com/css?family=Lato:400,700');



body {
    justify-content: center;
    background-color: #F4F9F9;
}

.sign-up-title {
    font-weight: bold;
    font-size: 2em;
}

.sign-up-style {
    justify-content: center;
    padding-bottom: 2em;

}

.sign-up-title {
    text-align: center;
}

.sign-up-field {
    padding-bottom: 1.5em;
}

.sign-up-field input {
    height: 2em;
    width: 100%;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid #000000;
    font-size: 16px;
    font-style: italic;
    transition: all 0.3s ease;
    background-color: #CCF2F4;
    color: #424242;

}

.sign-up-button {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    width: 8em;
    height: 1.75em;
    color: #424242;
    background: #A4EBF3;
    border-radius: 10px;
    border: 0.25px solid #A4EBF3;
    align-items: center;
    justify-content: center;
}


.sign-up-subtext {
    text-align: center;
    color: #424242;
    font-size: 1.5em;

}

.sign-up-label {
    font-size: 0.75em;
    text-align: left;
    color: red;
    font-weight: bold;
}

.file-select {
    position: relative;
    display: inline-block;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5em;
}