@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

.sos{
    box-sizing: border-box;
}

.home-style {
    text-align: center;
    /* background-color: #CCF2F4; */
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;

}

.home-title{
    font-weight: bold;
    font-size: 1.5em;
}

.home-text{
    font-size: 1.5em; 

}

.home-line {
    height: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-top: 1px solid black;
}

.home-button {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    width: 10em;
    height: 1.75em;
    color: #424242;
    background: #A4EBF3;
    border-radius: 10px;
    border: 0.25px solid #A4EBF3;
}