body {
  margin: 0;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F9F9;
}

code {
  font-family:'Lato';
}

.root{
  overflow: hidden !important;
}