

.location-title {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 2em;
}

.location-style {
    text-align: center;

}

.location-field {
    justify-content: center;
    padding-bottom: 1.5em;
}

.location-field input {
    height: 2em;
    width: 100%;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid #000000;
    font-size: 16px;
    font-style: italic;
    transition: all 0.3s ease;
    background-color: #CCF2F4;
    color: #424242;

}

.location-button {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    width: 8em;
    height: 1.75em;
    color: #424242;
    background: #A4EBF3;
    border-radius: 10px;
    border: 0.25px solid #A4EBF3;
}


.location-subtext {
    color: #424242;
    font-size: 1.5em;

}

.location-card-sos{
    margin-bottom: 4em;
}